<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
 
  <appSettings>
    <add key="BasicPercent" value="0.4"/>
    <add key="HraPercent" value="0.5"/>
    <add key="ConvAllowancePerMonth" value="1600"/>
    <add key="MedicalReimburstPerMonth" value="1250"/>
    <add key="PfLimitPerMonth" value="15000"/>
    <add key="PfPercent" value="0.12"/>
    <add key="EsicLimitPerMonth" value="21000"/>
    <add key="EsicPercent" value="0.0475"/>
  </appSettings>
</configuration>